#techs {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#techs.is-visible {
  opacity: 1;
}

.techs-list {
  position: relative;
  width: 55rem;
  height: 45rem;
}

/* ANIMATION D'APPARITION */
.tech-bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  
  /* État initial : invisible et au centre */
  opacity: 0;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0.5);

  /* Transition qui s'appliquera quand .is-visible sera ajoutée au parent */
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease;
  transition-delay: var(--delay);
}

#techs.is-visible .tech-bubble {
  opacity: 1;
  transform: var(--final-transform);
}

.tech-bubble-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.tech-bubble-inner:hover .tech-icon {
  filter: brightness(1.2) contrast(1.1) saturate(1.3);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.tech-bubble-inner:hover span {
  filter: brightness(1.2) contrast(1.1) saturate(1.3);
  transform: translate(-50%, 100%);
  transition: all 0.3s ease;
}

.tech-icon-bubble {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  box-shadow:
    inset 0 4px 12px rgba(255, 255, 255, 0.3),
    inset 0 -4px 8px rgba(0, 0, 0, 0.4),
    0 0 12px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(1px);
  transition: all 0.3s ease;
  padding: 0.5rem;
}

.tech-icon {
  width: 64%;
  height: 64%;
  border-radius: 0;
  object-fit: contain;
  filter: brightness(1.1) contrast(1.05) saturate(1.2);
  filter: blur(2px);
  transition: all 0.3s ease;
}

.tech-bubble-inner .tech-icon:hover {
  transform: scale(1.1);
  filter: brightness(1.2) contrast(1.1) saturate(1.3);
}

.tech-bubble-inner span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #fff;
  white-space: nowrap;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: all 0.3s ease;
}

.tech-bubble:hover span.tech-name {
  transform: translate(-50%, 150%);
}